* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  text-align: center;
  min-height: 100vh;
  &-header {
    background-color: rgb(22, 128, 122);
    height: 80px;
    margin-bottom: 20px;
    color: white;
  }
  .header {
    display: flex;
    flex-direction: row;
    &__image {
      height: 100px;
    }
    &-container {
      padding-left: 10px;
      &--title {
        font-size: 22px;
        color: #32dac4;
      }
      &--date {
        font-size: 15px;
        color: #b8b8b9;
      }
    }
  }

  .main-content {
    color: #57585a;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #57585a;
    &-content {
      color: #b8b8b9;
    }
    &-likes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .fa-heart {
        padding-left: 10px;
        font-size: 24px;
        color: rgb(197, 34, 34);
      }
    }
  }
}
.title {
  margin-left: 72px;
}
.list-items {
  list-style: none;
  margin-bottom: 40px;
}
.items {
  width: 40%;
  margin: 0 auto;
  border: 2px solid #32dac4;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
