* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(168, 24, 137);
}

.form__label {
  display: block;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 36px;
  padding-bottom: 10px;
}
.textarea {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: rgb(236, 229, 229);
}

.paragrah {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
