* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(198, 77, 223);
}

.form__label {
  display: block;
  text-align: center;
}
